/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21-Apr-2015, 2:49:22 PM
    Author     : chris
*/

svg#path {
	overflow: visible;
	position: absolute;
	top: 50%;
	left: 50%;
}

svg#path > path {
	fill: lightblue;
}
